gunicorn==25.1.0
gevent==24.11.1
gevent-websocket==0.10.1
flask==3.1.2
flask_socketio==5.6.0
bs4==0.0.2
requests==2.32.5
libgen_api==1.0.1
unidecode==1.4.0
thefuzz==0.22.1
iso639-lang==2.6.3

