.logo{
    max-height: 50px;
}
.cards-row{
    height: 90vh;
}
.scrollable{
    overflow-y: auto;
    height: 65vh;
}
.thead-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .cards-row{
        height: 87.5vh;  
    }
    .card-body {
        height: 40vh;  
    }
}